<div class="mt-3">
    <h1 id="title" class="mb-3">
        Todas as receitas
    </h1>
    <div>

        {{#each receitas}}
        <div class="card mb-3">
            <div class="card-body p-3">
                <h4>
                    {{titulo}}
                </h4>
                <h6>
                    {{descricao}}
                </h6>
                <p>
                    Criado por {{autor}}
                </p>
                <p>Criado em {{created_at}}</p>
                <div class="d-flex" style="gap: .5rem">
                    <form action="/deletar" method="post">
                        <input type="hidden" name="id" id="id" value="{{_id}}">
                        <button type="submit" class="btn btn-danger">
                            Deletar
                        </button>
                    </form>
                    <a href="/editar/{{_id}}" class="btn btn-primary">
                        Editar
                    </a>
                    <a href="/{{_id}}" class="btn btn-success">
                        Detalhes
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <h2>Não foram encontradas nenhuma receita. <a href="/adicionar">Adicione uma agora mesmo</a></h2>
        {{/each}}
    </div>
</div>