<h1 class="mt-5">
    {{receita.titulo}}
</h1>
<h3>
    {{receita.descricao}}
</h3>
<p>
    {{receita.conteudo}}
</p>
<hr>
<p>
    Receita realizada em {{receita.created_at}} por {{receita.autor}}
</p>
<a href="/">Retornar ao início</a>